{% extends 'base.html.twig' %}

{% block title %}Card{% endblock %}

{% block body %}
    <h1>Card</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ card.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ card.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ card.description }}</td>
            </tr>
            <tr>
                <th>State</th>
                <td>{{ card.state.value }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ card.createdAt ? card.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ card.updatedAt ? card.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_card_index') }}">back to list</a>

    <a href="{{ path('app_card_edit', {'id': card.id}) }}">edit</a>

    {{ include('card/_delete_form.html.twig') }}
{% endblock %}
