<div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="content swiper-slide">
        <img src="{{ asset('images/Image1.jpg') }}" alt="">
        <div class="text-content">
          <h3>Annonces</h3>
          <p>Postez des annonces et répondez grâce à un chat en ligne.</p>
          <button class="btn">Voir les annonces</button>
        </div>
      </div>
      <div class="content swiper-slide">
        <img src="{{ asset('images/image2.jpg') }}" alt="">
        <div class="text-content">
          <h3>Diffusion privée</h3>
          <p>Choisissez qui pourra voir votre annonce (professeurs, étudiants, filières)</p>
          <button class="btn">Commencer à poster</button>
        </div>
      </div>
      <div class="content swiper-slide">
        <img src="{{ asset('images/image3.jpg') }}" alt="">
        <div class="text-content">
          <h3>Communauté</h3>
          <p>Retrouvez la communauté de l’Université de Limoges pour échanger...</p>
          <button class="btn">Commencer à échanger</button>
        </div>
      </div>
      <div class="content swiper-slide">
        <img src="{{ asset('images/Image1.jpg') }}" alt="">
        <div class="text-content">
          <h3>Annonces</h3>
          <p>Postez des annonces et répondez grâce à un chat en ligne.</p>
          <button class="btn">Voir les annonces</button>
        </div>
      </div>
      <div class="content swiper-slide">
        <img src="{{ asset('images/image2.jpg') }}" alt="">
        <div class="text-content">
          <h3>Diffusion privée</h3>
          <p>Choisissez qui pourra voir votre annonce (professeurs, étudiants, filières)</p>
          <button class="btn">Commencer à poster</button>
        </div>
      </div>
      <div class="content swiper-slide">
        <img src="{{ asset('images/image3.jpg') }}" alt="">
        <div class="text-content">
          <h3>Communauté</h3>
          <p>Retrouvez la communauté de l’Université de Limoges pour échanger...</p>
          <button class="btn">Commencer à échanger</button>
        </div>
      </div>
    </div> <div class="swiper-pagination"></div>
  </div>