<section class="collection">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
  <div class="content swiper-slide">
    <img src="{{ asset('images/Image1.jpg') }}" alt="">
    <div class="text-content">
      <h3>Photography</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto accusamus ratione nesciunt atque, dolores vel
        culpa debitis officia expedita unde?</p>
      <button class="btn">Read more</button>
    </div>
  </div>
  <div class="content swiper-slide">
    <img src="{{ asset('images/image2.jpg') }}" alt="">
    <div class="text-content">
      <h3>Photography</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto accusamus ratione nesciunt atque, dolores vel
        culpa debitis officia expedita unde?</p>
      <button class="btn">Read more</button>
    </div>
  </div>
  <div class="content swiper-slide">
    <img src="{{ asset('images/image3.jpg') }}" alt="">
    <div class="text-content">
      <h3>Photography</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto accusamus ratione nesciunt atque, dolores vel
        culpa debitis officia expedita unde?</p>
      <button class="btn">Read more</button>
    </div>
  </div>
  <div class="content swiper-slide">
    <img src="{{ asset('images/image4.jpg') }}" alt="">
    <div class="text-content">
      <h3>Photography</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto accusamus ratione nesciunt atque, dolores vel
        culpa debitis officia expedita unde?</p>
      <button class="btn">Read more</button>
    </div>
  </div>
  <div class="content swiper-slide">
    <img src="{{ asset('images/image5.jpg') }}" alt="">
    <div class="text-content">
      <h3>Photography</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto accusamus ratione nesciunt atque, dolores vel
        culpa debitis officia expedita unde?</p>
      <button class="btn">Read more</button>
    </div>
  </div>
  <div class="content swiper-slide">
    <img src="{{ asset('images/image6.jpg') }}" alt="">
    <div class="text-content">
      <h3>Photography</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto accusamus ratione nesciunt atque, dolores vel
        culpa debitis officia expedita unde?</p>
      <button class="btn">Read more</button>
    </div>
  </div>
  </div>
  <div class="swiper-pagination"></div>
  </div>
</section>