<nav class="d-flex justify-content-around align-items-center py-3">
    <div>
        <div>
            {% if app.user %}
                <a href="{{ path('app_card_index') }}"><img src="{{ asset('svg/logo_hublim_name.svg') }}" alt="Logo HubLim" style="width: 120px;" /></a>
            {% else %}
                <a href="{{ path('app_main') }}"><img src="{{ asset('svg/logo_hublim_name.svg') }}" alt="Logo HubLim" style="width: 120px;" /></a>
            {% endif %}
        </div>
    </div>

    <ul class="d-flex list-unstyled mb-0">
        <li class="mx-5"><a href="{{ path('app_main') }}" class="text-decoration-none">Accueil</a></li>
        {% if app.user %}
            <li class="mx-5"><a href="{{ path('app_card_index') }}" class="text-decoration-none">Annonces</a></li>
        {% endif %}
        <li class="mx-5"><a href="#a-propos" class="text-decoration-none">À propos</a></li>
        <li class="mx-5"><a href="mailto:contact@hublim.bradype.fr" class="text-decoration-none">Contact</a></li>
        {% if is_granted('ROLE_ADMIN') %}
            <li class="mx-5"><a href="{{ path('app_admin_dashboard') }}" class="text-decoration-none text-danger fw-bold"><i class="bi bi-shield-lock-fill"></i> Admin</a></li>
        {% endif %}
    </ul>

    <div>
        {# Utilisateur connecté → Bouton Déconnexion #}
        {% if app.user %}
            <a href="{{path('app_logout')}}" class="btn btn-orange">Déconnexion</a>
        {# Utilisateur non connecté → Bouton Connexion/inscription #}
        {% else %}
            <a href="{{path('app_login')}}" class="btn btn-orange">Accéder aux cartes</a>
        {% endif %}
    </div>
</nav>
