<nav class="d-flex justify-content-around align-items-center py-3">
    <div>
        <div>
            {% if app.user %}
                <a href="{{ path('app_card_index') }}"><img src="{{ asset('svg/logo_hublim_name.svg') }}" alt="Logo HubLim" style="width: 120px;" /></a>
            {% else %}
                <a href="{{ path('app_main') }}"><img src="{{ asset('svg/logo_hublim_name.svg') }}" alt="Logo HubLim" style="width: 120px;" /></a>
            {% endif %}
        </div>
    </div>

    <ul class="d-flex list-unstyled mb-0">
        {% if app.user %}
            <li class="mx-5"><a href="{{ path('app_card_index') }}" class="text-decoration-none">Annonces</a></li>
            <li class="mx-5 nav-dropdown">
                <a href="" class="text-decoration-none">Catégories</a>
                <ul class="dropdown-menu-custom">
                    <li class="dropdown-item-custom has-sub">
                        <a href="#">Pédagogie & Savoirs</a>
                        <ul class="dropdown-submenu">
                            <li><a href="#">Livres & Manuels</a></li>
                            <li><a href="#">Tutorat & Soutien</a></li>
                            <li><a href="#">Groupes de travail</a></li>
                            <li><a href="#">Partage de fiches & Notes</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-item-custom has-sub">
                        <a href="#">Vie de Campus & Logement</a>
                        <ul class="dropdown-submenu">
                            <li><a href="#">Colocation & Recherche toit</a></li>
                            <li><a href="#">Équipement & Mobilier</a></li>
                            <li><a href="#">Conseils & Bons plans locaux</a></li>
                            <li><a href="#">Covoiturage & Transports</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-item-custom has-sub">
                        <a href="#">Services & Coups de main</a>
                        <ul class="dropdown-submenu">
                            <li><a href="#">Bricolage & Dépannage</a></li>
                            <li><a href="#">Informatique & Tech</a></li>
                            <li><a href="#">Garde d'animaux & Plantes</a></li>
                            <li><a href="#">Langues & Tandems</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-item-custom has-sub">
                        <a href="#">Loisirs, Sport & Culture</a>
                        <ul class="dropdown-submenu">
                            <li><a href="#">Partenaires de Sport</a></li>
                            <li><a href="#">Musique & Jam sessions</a></li>
                            <li><a href="#">Jeux & Divertissement</a></li>
                            <li><a href="#">Sorties & Billetterie</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-item-custom has-sub">
                        <a href="#">Échanges d'Idées & Projets</a>
                        <ul class="dropdown-submenu">
                            <li><a href="#">Café Philo & Débats</a></li>
                            <li><a href="#">Appel à projets & Collaborations</a></li>
                            <li><a href="#">Initiatives Citoyennes & Écologie</a></li>
                            <li><a href="#">Inspirations & Lectures</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-item-custom has-sub">
                        <a href="#">Événements & Rencontres</a>
                        <ul class="dropdown-submenu">
                            <li><a href="#">Soirées & Repas</a></li>
                            <li><a href="#">Ateliers & Workshops</a></li>
                            <li><a href="#">Vie Associative</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="mx-5 nav-dropdown">
                <a href="" class="text-decoration-none">Mon espace</a>
                <ul class="dropdown-menu-custom">
                    <li class="dropdown-item-custom ">
                        <a href="{{ path('app_mes_annonces') }}">Mes annonces</a>
                    </li>
                    <li class="dropdown-item-custom ">
                        <a href="{{ path('app_mes_favoris') }}">Mes favoris</a>
                    </li>
                    <li class="dropdown-item-custom ">
                        <a href="{{ path('app_mon_profil') }}">Mon profil</a>
                    </li>
                </ul>
            </li>
        {% endif %}
        {% if not app.user %}
            <li class="mx-5"><a href="#a-propos" class="text-decoration-none">À propos</a></li>
        {% endif %}
        <li class="mx-5"><a href="#footer" class="text-decoration-none">Contact</a></li>
        {% if is_granted('ROLE_ADMIN') %}
            <li class="mx-5">
                <a href="{{ path('app_admin_dashboard') }}" class="text-decoration-none text-danger fw-bold position-relative d-inline-flex align-items-center">
                    <i class="bi bi-shield-lock-fill me-1"></i> Admin
                    {{ render(controller('App\\Controller\\AdminNotificationController::badge')) }}
                </a>
            </li>
        {% endif %}
    </ul>

    <div>
        {# Utilisateur connecté → Bouton Déconnexion #}
        {% if app.user %}
            <a href="{{path('app_logout')}}" class="btn btn-orange">Déconnexion</a>
        {# Utilisateur non connecté → Bouton Connexion/inscription #}
        {% else %}
            <a href="{{path('app_login')}}" class="btn btn-orange">Accéder aux cartes</a>
        {% endif %}
    </div>
</nav>
